div#mapa-OF {
    width: 100%;
    text-align: center;
}
div#mapa-OF img[usemap],
div#becas-primer-semestre img[usemap]{
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
div.modal-content div.modal-header h4{
    text-align: center;
    color: rgb(0, 126, 103);
    font-weight: bolder;
}
div.modal-content div.modal-body {
   text-align: center;
}
div.modal-content div.modal-body div.img-p {
    width: 100%;
    text-align: center;
}
div.modal-content div.modal-body div.img-p img{
    width: 100%;
    max-width: 295px;
}
div.modal-content div.modal-body div{
    text-align: left;
}
div.modal-content div.modal-body div.enlaces-carreras{
    padding: 18px 23px;
}
div.modal-content div.modal-body a{
    color: #0fbd9d;
    display: block;
    padding: 5px 0px;
}
div.modal-content div.modal-body a:hover,
div.modal-content div.modal-body a:focus{
    color: #0fa788;
}
div.modal-content div.map-PE {
    padding: 15px;
}
                /*R ED A C A DE M I CA*/
div#red-academica{

    width: 100%;
    padding: 16px 25px;
}
div#red-academica div{
    width: 80%;
    margin: auto;
}
div#red-academica div a{
    display: table;
    padding: 8px;
    font-size: 13px;
    transition: .5s;
}
div#red-academica div a:hover,
div#red-academica div a:focus{
    color: #0fbd9d;
}
div#red-academica div a svg,
div#red-academica-l div a svg{
    margin-right: 10px;
    font-size: 1.5em;
}

        /*B A S ES C O N AL EP*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
 .accordion:hover {
    background-color: #ccc;
} 
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.activee:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
div.accordion-up{
    width: 90%;
    margin: auto;
}

div#red-academica-l div a{
    display: block;
    padding: 10px;
    margin: 2px;
    border-radius: 3px;
    background: #95e4d6;
}
div#red-academica-l {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

            /*C O VO C A T O R I A S    V I G E N T E S*/
div#becas-primer-semestre{
    width: 85%;
    margin: auto;
}
div#becas-primer-semestre img{
    width: 100%;  
    max-height: 2000px;
    border-radius: 45px;
    margin-bottom: 20px;
}
div#becas-primer-semestre-enlaces{
    text-align: center;
}
div#becas-primer-semestre-enlaces a img{
    width: 46%;
    margin: 20px;
}

            /*B E CA S EX T E R N A S    Y  ES T I M U L O S*/
div#B_Postulacion_Registro{
    width: 100%;
    margin: auto;
}
div#B_Postulacion_Registro div#B_postulacion{
    width: 100%;
}
div#B_Postulacion_Registro div#B_postulacion img{
    width: 100%;
    border-radius: 10px;
}
div#becas-apoyos{
    text-align: center;
    margin: 18px 1px;
}
.arrow-down-OA{
    display: block;
    margin: 10px auto;
    font-size: 45px;
    color: #0fbd9dab;
}
div.panel-BE{
    padding: 0;
}
div#beca-link{
    width: 90%;
    background: #17d6e4;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
div#beca-link h3{
    color:#ffffff;
    font-weight: bold;
}
div#beca-link a{
    text-decoration: underline;
    animation:jitter 200ms linear infinite;
    color:#ffffff;
    display:inline-block
}
@keyframes jitter{ 
    50%{
        transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);
    } 
}

                /*F O R MA C I O N   D O C E N T E*/
div#Becas-ciclo-1819{
    width: 95%;
    text-align: center;
    margin: auto;
}

div#Becas-ciclo-1819 img{
    width: 100%;
    
}
div#Becas-ciclo-1819 >p{
    font-weight: bolder;
    
}

@media (min-width: 570px){
    div#Becas-ciclo-1819 img{
        width: 48%;
        display: inline-block;
    }
}

            /*P R O C E S O S    A C A E D E  M I  C O S*/
p#proceso-ac-p span#Reglamento-span{
    text-decoration: underline;
    font-weight: bolder;
}

                /*F O R MA C I O N   C O N T I NU A*/
div#FC-L{
    text-align: center;
    margin: 20px;
}
div#FC-L .fc-icon{
    font-size: 21px;
    margin: 0px 12px;
}
div#FC-L a, div#FC-L .fc-icon {
    color: #000000;
    transition: .3s;
}
div#FC-L a:hover, 
div#FC-L a:focus,
div#FC-L .fc-icon:hover, {
    color: #0fbd9d;
}

                   /*C A P A C I TA CI O N*/
div.capacitacion-img{
    width: 100%;
    text-align: center;
    background: #8fbc8fb5;
    padding: 10px 0px;
    margin-bottom: 30px;
}
div.cap-img{
    width: 44%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;

}
div.cap-img >p{
   margin: 0px;
   text-align: center;
}
div.cap-img .i-cap{
    background: black;
    color: #dbe6db;
    font-size: 42px;
    padding: 7px;
    border-radius: 21px;

}
                   /*C E N T R O S    D E    E V A L U A C I O N*/
div#conocer-PA{
    width: 100%;
    text-align: center;
}
div#conocer-PA img{
    width: 65%;
}
ol#CE-List{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 90px;
    font-weight: bolder;
}
div#CE-Beneficios{
    background: #5acbb6b5;
}

              /*A T E N C I ON   A   L A   C O M U N I D A D*/
ol#AC-general{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 50px;
}
span#span-transparencia{
    margin-bottom: 20px;
}

 /*      T R A N S PA R E N C I A     P R E S U P U ES TA R I A*/
 #myInput {
    background-image: url('../../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #myTable {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    border: 1px solid #ddd;
    font-size: 11px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
   
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  } 

                        /*V I N C U LA C I O N    D I R E C T OR I O*/
div.div-vp-directorio{
    margin: 18px;
    margin-left: 50px;
}
p.vp-directorio{
    margin: 0px;
    font-weight: bold;
    display: initial;
}
span#dir-CMF{
    margin-top: 70px;
}


                       /* A L O R A C I O N   DE L   A P R O V E C H A M I EN T O*/
div#form-VA{
    width: 100%;
    text-align: center;
    margin: 20px;
}
div#form-VA form button{
    padding: 3px 10px;
    background-color: rgba(126, 246, 126, 0.76);
}
                     /* T W I T T E R  Y FA C E B O O K  N O T I C I AS */


div#twitter-noticias{
    width: 80%;
    height: 500px;
    overflow: auto;
    display: inline-block;
}
div#facebook-noticias{
    width: 80%;
    height: 500px;
    margin: 20px;
    display: inline-block;
}
div#facebook-noticias iframe{
    width: 100%;
}
      







                    
                    /*RED A CA E MI C A   RESPONSE   768*/
@media (min-width: 768px){
.modal-dialog {
    width: 85%;
    margin: 30px auto;
}
div.modal-content div.modal-body {
    width: 42%;
    display: inline-block;
}
div.modal-content div.map-PE {
    width: 56%;
    display: inline-block;
    vertical-align: top;
    height: 450px;
}
div.modal-content div.map-PE iframe {
    height: 100%;
    margin: 10px 0px;
}
                 /*R ED A C A DE M I CA*/
    div#red-academica{
    width: 100%;
    text-align: center;
    padding: 16px 80px;
}
div#red-academica div{
    width: auto;
    margin: 0px 20px;
    display: inline-block;
}
div#red-academica div a {
    padding: 11px;
    font-size: 16px;
}
.activee:after {
    content: "\2212";
}

                    /*B E C A S CO N A L E P*/
div#red-academica-l {
    text-align: center;
}
div#red-academica-l div a {
    display: inline-block;
}

        /*C O VO C A T O R I A S    V I G E N T E S*/
div#becas-primer-semestre{
    width: 43%;
    text-align: center;
    display: inline-block;
}
div#becas-primer-semestre img{
    width: 80%;  
}
div#becas-primer-semestre-enlaces{
    width: 56%;
    display: inline-block;
    vertical-align: top;
    top: 291px;
    text-align: center;
    z-index: 0;
} 
div#becas-primer-semestre-enlaces a img{
    width: 35%;
}
              /*B E C A S EX TE R N AS Y E S T I M U L O S*/

div#Becas-ciclo-1819 img{
    width: 25%;
    margin: 10px 20px;
    display: inline-block;
}
            /*C E N T R O S    D E    E V A L U A C I O N*/
div#conocer-PA img{
    width: 25%;
}
    /*T RA N S PA RE N C I A   PR E SU PU ES TA R I A*/
    #myTable {
        font-size: 15px;
      }
                           /* T W I T T E R    N O T I C I AS */


div#twitter-noticias{
    width: 45%;
    height: 500px;
    overflow: auto;
    margin: 10px;
    display: inline-block;
}
div#facebook-noticias{
    width: 45%;
    height: 500px;
   
    margin: 15px;
    display: inline-block;
}

}