*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-zoom-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    -webkit-animation: 3s fade 1;
    -moz-animation: 3s fade 1;
    -o-animation: 3s fade 1;
    -ms-zoom-animation: 3s fade 1;
    -khtml-animation:3s fade 1;
    background: rgb(255, 255, 255);
    font-family: "Soberana-regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    position: relative;
}
                             /* SECCIÓN ENCABEZADO DE ENLACES DE INFORMACIÓN */
  #up-header{
    width: 100%;
    background: rgb(0, 126, 103);
   line-height: 45px;
  
}
 #up-header .info-up{
    font-size: 12px;
   
    display: none;   
    margin-left: 15px;
}
#up-header .info-up:hover{
    color: white;
}
 div#up-header span .fa-phone{
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}
#up-header #tel-head{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
#up-header div#red-icons {
    display: inline-block;
    height: 45px;
    float: right;
    margin-right: 15px;
}
 div#up-header span .icon-up{
    font-size: 14px;
    margin-right: 8px;
}
 #up-header a {
    font-size: 30px;
    color: rgb(221, 221, 221);;
    opacity: 0.9;
}
#up-header .i-fb {
  margin-right: 5px;
}
#up-header #red-icons a:hover {
    color: white;
}
p{
    margin: 20px;
    margin-bottom: 10px;
}
div.nosotros{
    width: 100%;
    height: 450px;
    padding: 20px 30px;
    text-align: center;
}
div.nosotros> div{
    width: 100%;
    height: 50%;
    
}
div.nosotros> div iframe{
    height: 100%;
    max-width: 100%;
}
div.nosotros div span{
    font-weight: bolder;
    font-size: 21px;
    padding-top: 5px;
    border-bottom: 2px solid #499e43;
}
div.nosotros div p{
    font-size: 12px;
    text-align: justify;
}
button.pro {
    color: rgb(0, 126, 103);
    background-color: #49afcd00;
    border-color: rgb(0, 126, 103);
    transition: .5s;
    padding: 7px 8px;
}
button.pro:hover a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}


/*
@media screen and (min-width: 480px){

}*/



@media screen and (min-width: 768px){

    #up-header #mail-head{
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
    }
    div.nosotros{
        width: 100%;
        height: 300px;
        padding: 20px 30px;
    }
    div.nosotros> div{
        width: 49%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    div.nosotros> div iframe{
        height: 100%;
        max-width: 100%;
    }
    div.nosotros div span{
        font-size: 31px;
        padding-bottom: 7px;
    }
    div.nosotros div p {
        font-size: 17px;
        text-align: justify;
        padding: 10px;
    }
}


@media screen and (min-width: 980px){

    #up-header .info-up{
        display: inline-block;
    }
    #up-header {
        line-height: 45px;
    }    

 
}
@media screen and (max-width: 980px){
div.nosotros div p {

        margin: 0;
    }
}
/*
@media screen and (min-width:1206px){

    

} */