.hidden {
  display: inline!important;
}
h2 { 
  margin:30px auto;
}
.ED {
  background: -moz-linear-gradient(top, rgba(0,135,121,1) 0%, rgba(1,135,121,1) 1%, rgba(86,137,130,0.74) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,135,121,1) 0%,rgba(1,135,121,1) 1%,rgba(86,137,130,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,135,121,1) 0%,rgba(1,135,121,1) 1%,rgba(86,137,130,0.74) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008779', endColorstr='#bd568982',GradientType=0 ); /* IE6-9 */
   width: 100%;
   text-align: center;
  }
#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider div.MS-content  a {
  margin: 0px !important;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width: 33.3333%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
h2#oferta{
  margin-bottom: 5px;
  font-size: 3.5vw;
}
p#oferta{
  font-size: 1.6vw;
  padding: 10px 80px;
}
p#oferta, h2#oferta,hr{
  color: white; 
  text-align: center;
}
hr{
  height: 2px;
  width: 13%;
  margin: 1px auto;
  margin-bottom: 10px;
background-color: white;
}

#mixedSlider .MS-content .item .imgTitle {
  transition: 1s;
  position: relative;
}

#mixedSlider .MS-content .item .imgTitle:hover .blogTitle {
  transition: 1s;
  background-color: rgba(103, 105, 105, 0.48);
  height: 100%;
  text-transform: uppercase;
  padding-top: 85px;
  border-radius: 10px;
}

#mixedSlider .MS-content .item .imgTitle .blogTitle {
  transition: 1s;
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #ffffff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  font-size: 21px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 10px;

}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  text-indent: 15px;
  text-align: justify;
  padding: 13px 20px;
  color: #369987;
  background:  rgba(255, 255, 255, 0.92);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 14px;
  color: rgba(228, 228, 228, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  color: rgb(255, 255, 255);
}

#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
#mixedSlider .MS-controls .MS-right {
  right: 0px;
}

button.OF{
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 7px 8px;
  margin: 15px;
  margin-top: 26px;
}
button.OF a{
  color: #ffffff;
}
button.OF:hover{
  background: white;
}
button.OF:hover a{
  color: #369987;
}

@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
  h2#oferta{
    font-size: 6.5vw;
  }
  p#oferta{
    font-size: 3vw;
    text-align: justify;
    padding: 10px 32px;
  }
  
}

@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
  #mixedSlider .MS-controls button {
    top: 67px;
  }
}

@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}



@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}

