div.cont-footer{
    width: 100%;
    z-index: 999;
}
.row {
    margin-right: 0px; 
}
#myFooter {
    background-color: #3c3d41;
    color: white;
}
.col-sm-2 {
    position: static;
    text-align: center;
    padding: 50px;
}
.col-sm-2 hr{
    background-color: #007e67;
    border-top: 2px solid #007e67;
    width: 29%;
    margin: auto;
    margin-bottom: 30px;
}
.col-sm-2 p{
    font-size: 13px;
    margin-top: 0px;
}
.col-sm-2 ul li a{
    font-size: 16px;
}
.col-sm-2 ul li.li-foot{
    padding: 10px;
    font-size: 13px;
}
.col-sm-2 .icon-foot-social{
    font-size: 18px;
    margin-right: 8px;
}

.col-sm-2 .icon-foot{
    font-size: 40px;
    margin: 8px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 20;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}


#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
    font-weight: bolder;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .col-sm-2 #img-org {
    width: 50%;
    margin: auto;
}
#myFooter .col-sm-2 #img-org img{
    width: 100%;
    margin-top: 45px;
}
.ir-arriba {
    display: none;
    padding: 6px 11px;
	background:#007e67a6;;;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
    bottom:20px;
    right:20px;
    border-radius: 8px;

}
.ir-arriba:hover {
    background:#039678;
    transition: .5s;
}

#accesos {
    margin-top: 20px;
    height: auto;
    font-size: 3vw;
    text-align: left;
}
#accesos a {
    display: block;
    transition: 0.3s;
    padding: 3px;
    margin: auto;
    margin-bottom: 9px;
    border-radius: 4px;
    width: 63%;
}
#accesos a .enlaces{
    margin-right: 15px;
    font-size: 19px;
}

#mySidenav a:hover, #mySidenav a:focus {
    
}





@media screen and (min-width: 768px) {
    .col-sm-2 {
        width: 33%;
        text-align: justify;
        padding: 20px;
    }
    .col-sm-3 {
        width: 33%;
    }
    .col-sm-2 .icon-foot{
        float: initial;
    }
    .ir-arriba {
        padding: 10px 14px;
        z-index: 100;
    }
    #accesos {
        font-size: 1.2vw;
    }
    #accesos a {
        width: 66%;
    }
    div.z-footer{
        z-index: 10;
        position: absolute;
    }
}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}